.footer {
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: 1.6rem;
    width: 100%;
    background: linear-gradient(rgb(91, 118, 150),rgba(15, 18, 30)) ;
    padding: 3rem 8rem;   
  }
  
  .footer_pai_list {
    display: flex;
    width: 60%;
    gap: 1rem;
  }
  
  .footer_list {
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
    gap: 2rem;
  }
  
  .footer_redes {
    display: flex;
    gap: 4rem;
  }

  @media (max-width: 800px) {
    .footer {
      justify-content:center;
      height: 100px;
      font-size: 2rem;
      padding: 3rem;
    }

    .footer_redes {
      flex-direction: row;
      justify-content: space-around;
      margin-right: 50%;
      margin-left: 50%;
      align-items: flex-start;
      gap: 6rem;
      width: 100%;
    }

    .footer_list {
      display: none;
    }

  }

