.header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: 1.6rem;
    position: fixed;
    top: 0;
    background-color: rgba(4, 47, 2, 0.2);
    backdrop-filter: blur(2rem);
    width: 100%;
    padding: 2rem 15rem;  
    z-index: 1;
  
  }
  
  .header h1 {
    font-family: 'Faster One', 'cursiva';
    background: linear-gradient(rgb(27, 84, 553),rgba(15, 18, 40));
    color: rgb(192, 192, 192); 
    font-size: 2.2rem; 
    border-radius: 50%;
    padding: 0.5rem;
  }

  
  .header_pai_list {
    display: flex;
  }
  
  .header_list {
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
    gap: 2rem;
  
  }
  
  .header_list a {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1rem;
  
  }

  .div_menu {
    display: none;
  }

  @media (max-width: 900px) {
    .header {
      padding: 2rem 8rem;  
    }

  }

  @media (max-width: 650px) {
    .header {
      justify-content: flex-start;
      padding: 2rem 4rem; 
      position: fixed; 
      width: 100%;
      background-color: rgb(15, 18, 35,0.5);
      z-index: 1;
    }

    .header_pai_list {
      display: none;
    }

    .header_pai_list_fixed {
      display: flex;
      z-index: 1;
    }

    .header_list {
     flex-direction: column; 
     height: 50%;
     gap: 7rem;
    }

    .div_menu {
      display: flex;
      position: fixed;
      right: 2rem;
      z-index: 2;
    }

  }

  
  