.menu_pai_list {
    background: #101731;
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
    display: none;
    flex-direction: column;
    align-items:flex-end;
    width: 80%;
    height: 89%;
    padding: 2rem;
    padding-left: 4rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .menu_list {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 15rem;
    font-size: 2rem;
    height: 50%;
    width: 100%;
    list-style: none;
    gap: 5rem;
  
  }

  @media (max-width: 650px) and (min-height: 540px) {
    .menu_pai_list {
        display: flex;
    }
  }
