.conteiner_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0b1129;
    box-shadow: 0.1rem 0.5rem 1rem rgb(44, 44, 233);
    color: #f1ebeb98;
    width: 90%;
    min-height:40vh;
}
  
.conteiner_2 h1 {
    padding: 3rem ;
    text-align: center;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 90%;
    min-height: 250px;
    width: 100%;
    font-size: 2.2rem;
    gap: 6rem;
}

.apresentacao_image {
  display: flex;
  align-items: center;
  width: 35%;
  border-radius: 10%;
  background-image: url('../public/Dedimar.jpeg');
  height: 35rem;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 6rem;
}

.apresentacao p {
    font-size: 2.6rem;
    width: 60%;
    line-height: 3.7rem;
}

.titulo_sobre_mim {
    font-size: 5rem;
    
}
  
@media (max-width: 1250px) {
  .apresentacao{
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .apresentacao p {
    font-size: 2.3rem;
    width: 80%;
    line-height: 3rem;
  }

  .apresentacao_image{
    background-size: cover; 
    border-radius: 40%;
    margin-bottom: 0;
  }
  
}

@media (max-width: 800px) {
  .apresentacao p {
    width: 80%;
    line-height: 3rem;
    white-space:pre-line;
  }

  .apresentacao_image{
    background-size: cover;
    width: 90%;
    
  }
  
}
