.conteiner_titulo {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    min-height: 70vh; 
    min-width: 70vw;
    padding: 4rem;
    color: #fff;
    background: linear-gradient(rgb(15,18,40,0.9),rgb(15,18,40,0.5)),url('../public/pexels-luis-gomes-546819.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10rem auto;
    opacity: 80%;
    border-radius: 1rem;
}
  
.conteiner_titulo div {
    width: 50%;
}
  
.conteiner_titulo div h1 {
    font-size: 6rem;
}
  
.conteiner_titulo div  p {
    font-size: 4rem;
    margin-bottom: 6rem;
}

.span_btn_mostrar {
    display: flex;
    gap: 1rem;
}

.btns_mostrar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(31, 92, 141);
    color: rgb(255, 250, 250);
    font-size: 2rem; 
    border-radius: 0.3rem; 
    cursor: pointer;
    width: 25rem; 
    height: 45px;
    padding: 2rem;
}

  
.btns_mostrar:hover {
    background-color:steelblue;
}

@media (max-width: 1250px) {
   
    .conteiner_titulo div h1 {
        font-size: 5rem;
    }

    .conteiner_titulo div {
        width: 60%;
    }
}

@media (max-width: 840px) {
    .conteiner_titulo {
        width: 90vw;
        padding: 2rem;
    }

    .conteiner_titulo div  {
        width: 80%;
    }
     .titulo div h1 {
        font-size: 4rem;
    }

    .conteiner_titulo div p{
        font-size: 3rem;
    }

    .span_btn_mostrar {
        flex-direction: column;
    }

    .btns_mostrar {
        width: 60%;
    }
      
}

@media (max-width: 610px) {

    .conteiner_titulo {
        max-height: 100px;
        justify-content: space-around;
    }
     .conteiner_titulo div h1 {
        font-size: 3.5rem;
    }

    .conteiner_titulo div p{
        font-size: 2.5rem;
    }
}

@media (max-width: 400px) {

    .conteiner_titulo {
        padding: 1.2rem;
    }
    .conteiner_titulo div  {
        width: 100%;
    }
     .conteiner_titulo div h1 {
        font-size: 3rem;
    }

    .conteiner_titulo div p{
        font-size: 2.5rem;
    }

    .btns_mostrar {
        width: 100%;
    }
 
}





